$primary-color: #ff7f50;
$primary-color-dark: #ed754a;
$primary-background-color: #f7f7f7;

$secondary-color: #385e6a;
$secondary-color-dark: #385e6c;
$secondary-background-color: #385e6a;

$text-color-light: #fff;
$text-color-dark: #262626;
