footer {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $secondary-background-color-dark;
    padding: 0.5rem;

    span {
      font-size: 0.8rem;
      display: flex;
      align-items: center;

      svg {
        margin: 0 0.8ch;
        color: $primary-color;
      }
    }

    a {
      margin-left: 0.8ch;
    }
  }
}
